@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "react-toastify/dist/ReactToastify.min.css";
@import url("https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

html {
	font-family: "Source Sans Pro", sans-serif !important;
}

button,
a:focus {
	outline: none !important;
}
